[submodule "lib/fcitx5/src/main/cpp/fcitx5"]
	path = lib/fcitx5/src/main/cpp/fcitx5
	url = https://github.com/fcitx/fcitx5
[submodule "lib/fcitx5/src/main/cpp/prebuilt"]
	path = lib/fcitx5/src/main/cpp/prebuilt
	url = https://github.com/wxyzh/f5a-prebuilt
[submodule "lib/fcitx5-lua/src/main/cpp/fcitx5-lua"]
	path = lib/fcitx5-lua/src/main/cpp/fcitx5-lua
	url = https://github.com/fcitx/fcitx5-lua
[submodule "lib/libime/src/main/cpp/libime"]
	path = lib/libime/src/main/cpp/libime
	url = https://github.com/fcitx/libime
[submodule "lib/fcitx5-chinese-addons/src/main/cpp/fcitx5-chinese-addons"]
	path = lib/fcitx5-chinese-addons/src/main/cpp/fcitx5-chinese-addons
	url = https://github.com/fcitx/fcitx5-chinese-addons
[submodule "plugin/anthy/src/main/cpp/anthy-cmake"]
	path = plugin/anthy/src/main/cpp/anthy-cmake
	url = https://github.com/fcitx5-android/anthy-cmake
[submodule "plugin/anthy/src/main/cpp/fcitx5-anthy"]
	path = plugin/anthy/src/main/cpp/fcitx5-anthy
	url = https://github.com/fcitx/fcitx5-anthy
[submodule "plugin/unikey/src/main/cpp/fcitx5-unikey"]
	path = plugin/unikey/src/main/cpp/fcitx5-unikey
	url = https://github.com/fcitx/fcitx5-unikey
[submodule "plugin/rime/src/main/cpp/fcitx5-rime"]
	path = plugin/rime/src/main/cpp/fcitx5-rime
	url = https://github.com/wxyzh/fcitx5-rime
[submodule "plugin/rime/src/main/cpp/rime-prelude"]
	path = plugin/rime/src/main/cpp/rime-prelude
	url = https://github.com/rime/rime-prelude
[submodule "plugin/rime/src/main/cpp/rime-essay"]
	path = plugin/rime/src/main/cpp/rime-essay
	url = https://github.com/rime/rime-essay
[submodule "plugin/rime/src/main/cpp/rime-luna-pinyin"]
	path = plugin/rime/src/main/cpp/rime-luna-pinyin
	url = https://github.com/rime/rime-luna-pinyin
[submodule "plugin/rime/src/main/cpp/rime-stroke"]
	path = plugin/rime/src/main/cpp/rime-stroke
	url = https://github.com/rime/rime-stroke
[submodule "plugin/hangul/src/main/cpp/fcitx5-hangul"]
	path = plugin/hangul/src/main/cpp/fcitx5-hangul
	url = https://github.com/fcitx/fcitx5-hangul
[submodule "plugin/chewing/src/main/cpp/fcitx5-chewing"]
	path = plugin/chewing/src/main/cpp/fcitx5-chewing
	url = https://github.com/fcitx/fcitx5-chewing
[submodule "plugin/sayura/src/main/cpp/fcitx5-sayura"]
	path = plugin/sayura/src/main/cpp/fcitx5-sayura
	url = https://github.com/fcitx/fcitx5-sayura
[submodule "plugin/jyutping/src/main/cpp/libime-jyutping"]
	path = plugin/jyutping/src/main/cpp/libime-jyutping
	url = https://github.com/fcitx/libime-jyutping
[submodule "plugin/clipboard-filter/ClearURLsRules"]
	path = plugin/clipboard-filter/ClearURLsRules
	url = https://github.com/ClearURLs/Rules
